.docs-list {
  flex: 0 1 auto; /* Does not grow, can shrink, and basis is content size */
  padding: 10px; /* Adds padding inside the column */
  border: 1px solid #ccc; /* Optional: Adds a border around the column */
}

.docs-list-section {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.docs-list-section:nth-child(odd) {
  background-color: #f9f9f9;
}

.docs-list-section:nth-child(even) {
  background-color: #f1f1f1;
}

.docs-list h2 {
  margin: 10px 0;
  font-size: 20px; /* Adjust the size as needed */
  font-weight: normal; /* Or you could use a number like 400 or 500 */
}

.docs-list button {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.docs-list button:hover {
  background-color: #45a049; /* Darker green */
}

.docs-list ul {
  list-style-type: none;
  padding: 0;
}

.docs-list li {
  padding: 8px;
  margin: 5px 0;
  background-color: #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines you want to display */
  -webkit-box-orient: vertical;
  overflow: auto;
}

.docs-list li:hover {
  background-color: #ddd;
}
